name: Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "*"

jobs:
  tests:
    name: Python ${{ matrix.python-version }}
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        python-version:
          [
            "3.7",
            "3.8",
            "3.9",
            "3.10",
            "3.11",
            "pypy-3.7",
            "pypy-3.8",
            "pypy-3.9",
          ]

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: pip

      - name: Install dependencies
        run: |
          pip install -U pip
          pip install -r requirements.txt
          pip install .

      - name: Run tests
        run: |
          tox
          pytest --dead-fixtures

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v4
